@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- ANIMASI EXISTING --- */
.animate-fade-in {
  animation: fadeIn 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-slide-up {
  animation: slideUp 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes slideUp {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.active-bounce:active {
  transform: scale(0.90);
  transition: transform 0.1s;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* SPLASH SCREEN ANIMATION */
.splash-bounce {
  animation: splashBounce 2s infinite;
}

@keyframes splashBounce {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

.loading-bar {
  animation: loadingProgress 2.5s ease-in-out forwards;
}

@keyframes loadingProgress {
  0% { width: 0%; }
  100% { width: 100%; }
}

.splash-exit-wrapper {
  animation: splashFadeOut 0.5s ease-in-out 2.5s forwards; /* Hilang setelah 2.5d */
}

@keyframes splashFadeOut {
  to { opacity: 0; pointer-events: none; }
}

/* --- ANIMASI MARQUEE (TEKS BERJALAN) --- */
.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  padding-left: 100%; /* Mulai dari luar layar kanan */
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
