@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animasi Muncul Perlahan (Fade In) */
.animate-fade-in {
  animation: fadeIn 0.6s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Animasi Modal Muncul dari Bawah (Slide Up) */
.animate-slide-up {
  animation: slideUp 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes slideUp {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* Efek Tombol Memantul (Bounce) */
.active-bounce:active {
  transform: scale(0.90);
  transition: transform 0.1s;
}

/* Scrollbar Sembunyi tapi Bisa Scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
